:root{
    --cor-principal-primararia: #69d2cd;
    --cor-principal-secundaria: #b9f1d6;    
    --cor-fundo-primaria:  #0d0f36;
    --cor-fundo-secundaria: #294380; 
    --cor-texto-paragrafos: #f1f6ce;
    --fonte-primaria: 'Times New Roman', serif;
    --fonte-secundaria: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    margin: 25px 25px;
    background-color: var(--cor-fundo-primaria);
    font-family: var(--fonte-secundaria);
    font-size: 14pt;
    
}

p{
    color: var(--cor-texto-paragrafos);
    line-height: 1.5;
}

/* Configurações do menu principal de navegação */
.menu-principal{
    margin: 40px 0;
}
.menu-principal ul{
    padding: 0px;
    border-radius: 0px;
    /* text-align: center; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu-principal a{
    text-decoration: none;
    color: initial;

    color: var(--cor-principal-primararia);
    font-family: var(--fonte-secundaria);
    padding: 0 30px;
    transition: background-color .40s, font-size .40s;

}

.menu-principal li{
    display: flex;
    line-height: 60px;
}

a:hover{
    color: var(--cor-principal-secundaria);
    font-weight: 700;
    background-color: var(--cor-fundo-secundaria);
    font-size: 120%;
    border-radius: 15px;
}

.titulo-pagina{
    text-align: center;
    font-size: 24pt;
    color: var(--cor-texto-paragrafos);
    font-weight: bold;
    line-height: 2;
}

.subtitulo-pagina{
    font-size: 22pt;
    color: var(--cor-texto-paragrafos);
    text-align: center;
    line-height: 2.5;
    font-weight: bold;
    background-color: var(--cor-fundo-secundaria);
    border-radius: 15px;
    margin: 20px;
}

header .subtitulo-pagina{

    background-color:transparent;

}

.titulo-de-artigo{
    text-align: center;
    font-size: 20pt;
    color: var(--cor-texto-paragrafos);
    font-weight: bold;
    line-height: 1.5;
    
}

article{
    border: 5px solid var(--cor-fundo-secundaria);
    padding: 25px;
    border-radius: 25px;
    margin: 50px 10px;
    width: 45%;
}

article p{
    text-align: center;
    
}

.tabela{
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tabela th, .tabela td{
    border-collapse: collapse; /*define a separação entre as bordar*/
    padding: 10px;
    text-align: center;
    border: 1px solid var(--cor-fundo-primaria);    
    text-align: center;
    width: 200px;
}

.tabela th{
    background-color: var(--cor-fundo-secundaria);
    color: var(--cor-principal-secundaria);
    padding: 15px;
}

.tabela td{
    background-color: var(--cor-fundo-secundaria);
    color: var(--cor-texto-paragrafos);
}

.descricao-propriedades{
    color: var(--cor-texto-paragrafos);
    margin: 20px;
}

.exemplo{
    padding: 25px;
    background-color: var(--cor-fundo-secundaria);
    border-radius: 25px;
    border: 3px solid var(--cor-principal-secundaria);
}

.exemplo .container{
    height: 100%;
    background-color: var(--cor-fundo-primaria);
    border: 3px dashed var(--cor-fundo-secundaria);
    display: flex;
    border-radius: 15px;
}

.exemplo .container:hover{
    height: 650px;

}

.exemplo .contido{
    width: 85px;
    height: 85px;
    background-color: var(--cor-fundo-secundaria);
    border: 2px solid var(--cor-principal-secundaria);
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--cor-texto-paragrafos);
}

.exemplo .contido:hover{
    background-image: url(./the_rock.PNG);
    background-position: center;
    background-repeat: no-repeat;
    border: 2px dashed greenyellow;
    font-weight: bold;
    color: greenyellow;
}

.artigos-lado-a-lado{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



.artigo-justify-content .container{
    justify-content: flex-start;
}

.artigo-justify-content-flexend .container{
    justify-content: flex-end;
}

.artigo-justify-content-center .container{
    justify-content: center;
}

.artigo-justify-content-space-between .container{
    justify-content: space-between;
}

.artigo-justify-content-space-around .container{
    justify-content: space-around;
}

.artigo-justify-content-space-evenly .container{
    justify-content: space-evenly;
}

.artigo-justify-content-initial .container{
    justify-content: initial;
}

.artigo-justify-content-inherit .container{
    justify-content: inherit;
}

.artigo-justify-content-inherit .container{
    flex-direction: row;
}


.artigo-flex-direction-row-reverse .container{
    flex-direction: row-reverse;
}

.artigo-flex-direction-column .container{
    flex-direction: column;
}

.artigo-flex-direction-column-reverse .container{
    flex-direction: column-reverse;
}

.artigo-flex-direction-initial .container{
    flex-direction: initial;
}

.artigo-flex-direction-inherit .container{
    flex-direction: inherit;
}

.artigo-align-itens-normal .container{
    align-items: normal;
}

.artigo-align-itens-stretch .container{
    align-items: stretch;
}

.artigo-align-itens-center .container{
    align-items: center;
}

.artigo-align-itens-flex-start .container{
    align-items: flex-start;
}

.artigo-align-itens-flex-end .container{
    align-items: flex-end;
}

.artigo-align-itens-start .container{
    align-items: start;
}

.artigo-align-itens-end .container{
    align-items: end;
}

.artigo-align-itens-baseline .container{
    align-items: baseline;
}

.artigo-align-itens-initial .container{
    align-items: initial;
}

.artigo-align-itens-inherit .container{
    align-items: inherit;
}

.artigo-flex-nowrap .container{
    flex-wrap: nowrap;
}

.artigo-flex-wrap .container{
    flex-wrap: wrap;
}

.artigo-flex-wrap-reverse .container{
    flex-wrap: wrap-reverse;
}

.artigo-flex-initial .container{
    flex-wrap: initial;
}

.artigo-flex-inherit .container{
    flex-wrap: inherit;
}

.artigo-flex-flow-row-nowrap .container{
    flex-flow: row nowrap;
}

.artigo-flex-flow-row-wrap .container{
    flex-flow: row wrap;
}

.artigo-flex-flow-row-wrap-reverse .container{
    flex-flow: row wrap-reverse;
}

.artigo-flex-flow-row-initial .container{
    flex-flow: row initial;
}

.artigo-flex-flow-row-inherit .container{
    flex-flow: row inherit;
}

.artigo-flex-flow-row-reverse-nowrap .container{
    flex-flow: row-reverse nowrap;
}

.artigo-flex-flow-row-reverse-wrap .container{
    flex-flow: row-reverse wrap;
}

.artigo-flex-flow-row-reverse-wrap-reverse .container{
    flex-flow: row-reverse wrap-reverse;
}

.artigo-flex-flow-row-reverse-initial .container{
    flex-flow: row-reverse initial;
}

.artigo-flex-flow-row-reverse-inherit .container{
    flex-flow: row-reverse inherit;
}

.artigo-flex-flow-column-nowrap .container{
    flex-flow: column nowrap;
}

.artigo-flex-flow-column-wrap .container{
    flex-flow: column wrap;
}

.artigo-flex-flow-column-wrap-reverse .container{
    flex-flow: column wrap-reverse;
}

.artigo-flex-flow-column-initial .container{ 
    flex-flow: column initial;
}

.artigo-flex-flow-column-inherit .container{
    flex-flow: column inherit;
}

.artigo-flex-flow-column-reverse-nowrap .container{
    flex-flow: column-reverse nowrap;
}

.artigo-flex-flow-column-reverse-wrap .container{
    flex-flow: column-reverse wrap;
}

.artigo-flex-flow-column-reverse-wrap-reverse .container{
    flex-flow: column-reverse wrap-reverse;
}

.artigo-flex-flow-column-reverse-initial .container{
    flex-flow: column-reverse initial;
}

.artigo-flex-flow-column-reverse-inherit .container{
    flex-flow: column-reverse inherit;
}

.artigo-flex-flow-initial-nowrap .container{
    flex-flow: initial nowrap;
}

.artigo-flex-flow-initial-wrap .container{
    flex-flow: initial wrap;
}

.artigo-flex-flow-initial-wrap-reverse .container{
    flex-flow: initial wrap-reverse;
}

.artigo-flex-flow-initial-initial .container{
    flex-flow: initial initial;
}

.artigo-flex-flow-initial-inherit .container{
    flex-flow: initial inherit;
}


.artigo-flex-flow-inherit-nowrap .container{
    flex-flow: inherit nowrap;
}

.artigo-flex-flow-inherit-wrap .container{
    flex-flow: inherit wrap;
}

.artigo-flex-flow-inherit-wrap-reverse .container{
    flex-flow: inherit wrap-reverse;
}

.artigo-flex-flow-inherit-initial .container{
    flex-flow: inherit initial;
}

.artigo-flex-flow-inherit-inherit .container{
    flex-flow: inherit inherit;
}

.artigo-align-content-stretch .container{
    flex-wrap: wrap;
    align-content: stretch;
}

.artigo-align-content-center .container{
    flex-wrap: wrap;
    align-content: center;
}

.artigo-align-content-flex-start .container{
    flex-wrap: wrap;
    align-content: flex-start;
}

.artigo-align-content-flex-end .container{
    flex-wrap: wrap;
    align-content: flex-end;
}

.artigo-align-content-space-between .container{
    flex-wrap: wrap;
    align-content: space-between;
}

.artigo-align-content-space-around .container{
    flex-wrap: wrap;
    align-content: space-around;
}

.artigo-align-content-space-evenly .container{
    flex-wrap: wrap;
    align-content: space-evenly;
}

